@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-pulse {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }

    70% {
        
        box-shadow: 0 0 0 20px rgba(66, 32, 133,0);
    }

   
}
